/*
Created by Catherine Rodriquez
*/

*{
    padding: 0;
    margin: 0;
    font-family: 'Itim', cursive;
}

.hide-background{
    display: none;
}

.Welcome-Background{
    background-color: rgb(199, 221, 242);
    height: 100vh;
    padding-top: 1px
}

.background-TicTacToe{
    background-color: whitesmoke;
    height: 100vh;
    padding-top: 1px
}

.title-TicTacToe, .title-start{
    color: black;
    text-align: center;
    font-size: 40px;
    margin-top: 2%;
}

.display-TicTacToe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: red; 
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0em;
}

.error-TTT, .announce-TTT, .currentPlayer-TTT{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black; 
    font-size: 32px;
    text-align: center;
    margin-top: 0.5em;
}

.symbol-1, .symbol-2{
    margin-top: 1em;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 0em;
}

.hide{
    display: none;
}

.board-TicTacToe{
    margin: 20px auto 0;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 9px;
}

.cell{
    border: 3px solid royalblue;
    background-color: lightgray;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerX{
    color:aliceblue;
}

.playerO{
    color:aliceblue
}

.controls-TicTacToe, .control-AIvsAI{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.mode-options-TicTacToe{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-top: 1em;
}

.return-game, .playTTT{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 1em;
}

#Ai-vs-Ai-TicTacToe, #Ai-against-Ai-TicTacToe, #Two-Player-TicTacToe, #reset, #back-TicTacToe, #AIvsAI {
    background-color: red;
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#tic-tac-toe-play{
    width: 300px; 
    height: 150px; 
    background-image: url('assets/TicTacToe_Game.png'); 
    background-size: cover; 
    border: 1px solid black;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

#tic-tac-toe-play:hover, #directions-tictactoe:hover, #TTTmenu-to-start:hover, #creator-menu:hover, #creator-to-start:hover, 
#Ai-vs-Ai-TicTacToe:hover, #Ai-against-Ai-TicTacToe:hover, #Two-Player-TicTacToe:hover, #reset:hover, #back-TicTacToe:hover, #AIvsAI:hover,
#chooseX:hover, #chooseX2:hover, #chooseO:hover, #chooseO2:hover, #sumButton-TTT:hover, #gameModeButton-TTT:hover {
    transform: scale(1.1); 
}

#directions-tictactoe, #TTTmenu-to-start, #creator-menu, #creator-to-start, #sumButton-TTT, #gameModeButton-TTT{
    background-color: grey;
    color: black;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    margin-left: 1em;
    margin-top: 1em;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.start-TTT, .tictactoe-menu{
    display: flex;
    justify-content: space-between;
}

.sum-TTT, .gameMode-TTT{
    align-items: right;
    display: flex;
    justify-content: right;
}


.directions{
    display: flex;
    justify-content: center;
    align-items: center;
    color: royalblue; 
    font-size: 30px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0em;
}

#chooseX, #chooseX2, #chooseO, #chooseO2 {
    background-color: royalblue;
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#chooseX{
    margin-left: 8.5em;
    margin-right: 0.5em;
}

#chooseO, #chooseX2{
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#chooseO2{
    margin-right: 8.5em;
    margin-left: 0.5em;
}

#chooseX.clicked, #chooseX2.clicked, #chooseO.clicked, #chooseO2.clicked {
    background-color: rgb(129, 210, 245); 
    color: black; 
}

#Ai-vs-Ai-TicTacToe.clicked, #Ai-against-Ai-TicTacToe.clicked, #Two-Player-TicTacToe.clicked {
    background-color: rgb(228, 154, 154);
    color: black;
}

.game-selection{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black; 
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
}

.modal, .modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: none;
    background-color: rgba(0,0,0,0.4);
}

.modal-content-TTT, .modal-mode-content-TTT {
    background-color: #fefefe;
    margin: 25% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    text-align: center;
    font-size: 20px;
}

.close-TTT, .close-mode-TTT {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-TTT:hover, .close-TTT:focus, .close-mode-TTT:hover, .close-mode-TTT:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}