/*
Created by Catherine Rodriquez
*/

/* makes all screens the same font */
* {
  padding: 0;
  margin: 0;
  font-family: "Itim", cursive;
}

/* hide background class used to alternate between  different game screens */
.hide-background {
  display: none;
}

/* background welcome screen */
.Welcome-Background {
  background-color: rgb(199, 221, 242);
  height: 100vh;
  padding-top: 1px;
}

/* background word search */
.background-wordSearch {
  background-color: rgba(128, 128, 128, 0.671);
  height: 100vh;
  padding-top: 1px;
}

/* welcome screen title  */
.title-start {
  color: darkgrey;
  text-align: center;
  font-size: 40px;
  margin-top: 2%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* creator title */
.title-creator {
  color: black;
  text-align: center;
  font-size: 40px;
  margin-top: 2%;
}

/* creator image */
.image {
  margin-left: 3em;
  width: 475px;
  height: 600px;
}

/* creator -> date located under creator image */
.createdDate {
  margin-left: 3em;
}

/* creator bio */
.aboutMe {
  margin-left: 7em;
  margin-top: 3%;
  margin-right: 3em;
  font-size: 22px;
}

/* main screen game selection location and size */
.game-selection{
  text-align: center;
  font-size: 22px;
}

/* layout for tic-tac-toe button on start screen */
#tic-tac-toe-play {
  width: 300px;
  height: 150px;
  background-image: url("assets/TicTacToe_Game.png");
  background-size: cover;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

/* layout for wordSearch button on start screen */
#wordSearch-play {
  width: 300px;
  height: 150px;
  background-image: url("assets/ME.png");
  background-size: cover;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 8px;
  margin-right: 1em;
  transition: transform 0.3s ease;
}

/* Centers Main Screen Game Buttons */
.play {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 1.5em;
}

/* enlarges the button when hovering over it */
#tic-tac-toe-play:hover,
#TTTmenu-to-start:hover,
#creator-menu:hover,
#creator-to-start:hover,
#wordSearch-play:hover
{
  transform: scale(1.1);
}

/* grey buttons */
#creator-menu,
#creator-to-start
{
  background-color: grey;
  color: black;
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-size: 15px;
  margin-left: 1em;
  margin-top: 1em;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.start-TTT,
.creator-info 
{
  display: flex;
  justify-content: space-between;
}
